@model IgnitisTask.Dtos.UnitOfWork
@using (Html.BeginForm("SaveForm", "Form", FormMethod.Post, new { id = "form" }))
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-center">Question</th>
                <th class="text-center">Answers</th>
            </tr>
        </thead>
        @if (Model.SavedJunctions.Count != 0)
        {
            @for (int i = 0; i < Model.Questions.Count; i++)
            {
                <tr>
                    <td class="text-center">@Model.Questions[i].Text</td>
                    <td class="text-center">
                        @Html.DropDownListFor(m => m.SavedJunctions[i].AnswerId, new SelectList(Model.Questions[i].Answers, "Id", "Text"), "", new { @class = "form-control" })
                    </td>
                    @Html.HiddenFor(m => m.Questions[i].Id)
                    @Html.HiddenFor(c => c.FormId)
                </tr>
            }
        }
        else
        {
            <tbody>
                @for (int i = 0; i < Model.Questions.Count; i++)
                {
                    <tr>
                        <td class="text-center">@Model.Questions[i].Text</td>
                        <td class="text-center" value="Model.Junctions[i].AnswerId">
                            @Html.DropDownListFor(m => m.Junctions[i].AnswerId, new SelectList(Model.Questions[i].Answers, "Id", "Text"), "", new { @class = "form-control disabled", disabled = true })
                        </td>
                        @Html.HiddenFor(m => m.Questions[i].Id)
                        @Html.HiddenFor(c => c.FormId)
                    </tr>
                }
            </tbody>
        }

    </table>
    @Html.HiddenFor(c => c.FormId)
    <button type="submit" id="submit" value="Submit" class="btn btn-danger" disabled="disabled">Add</button>
    @Html.ActionLink("Cancel", "Index", "Form", null, new { @class = "btn btn-secondary" })
    <button class="btn btn-primary" id="edit" type="button">Make changes</button>
}

@section scripts
{
    <script>
        let initDisabledElements = document.getElementsByClassName('disabled');
        let editBtn = document.getElementById('edit');
        editBtn.addEventListener('click', function () {
            for (let element of initDisabledElements)
                element.disabled = false;
            editBtn.disabled = true;
        });

        $(document).ready(function () {
            $("input").blur(function () {
                if ($(this).val() !== "" && $(this).val() !== null) {
                    $("#submit").removeAttr("disabled");
                }
            });
        })
    </script>
}