@model IgnitisTask.Dtos.UnitOfWork

@Html.ActionLink("Add an question", "Create", "Question", null, new { @class = "btn btn-primary float-right" })
<p></p>
@Html.ActionLink("Add an answer", "Create", "Answer", null, new { @class = "btn btn-primary float-right" })

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="text-center">Question</th>
            <th class="text-center">Answers</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var answer in Model.Questions)
        {
            <tr>
                <td class="text-center">@answer.Text</td>
                <td class="text-center">
                    @Html.DropDownListFor(m => m.Junctions, new SelectList(answer.Answers, "Id", "Text"), "", new { @class = "form-control" })
                </td>
            </tr>
        }
    </tbody>
</table>

@using (Html.BeginForm("StartForm", "Form", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(c => c.Apartment.City, "City")
        @Html.TextBoxFor(c => c.Apartment.City, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(c => c.Apartment.Company_id)
    <button type="submit" class="btn btn-primary">Add</button>
    @Html.ActionLink("Cancel", "Index", "Company", null, new { @class = "btn btn-secondary" })
}