@model IgnitisTask.Dtos.UnitOfWork

@Html.ActionLink("Add an question", "Create", "Question", null, new { @class = "btn btn-primary float-right" })
<p></p>
@Html.ActionLink("Add an answer", "Create", "Answer", null, new { @class = "btn btn-primary float-right" })



@using (Html.BeginForm("SaveChanges", "Form", FormMethod.Post))
{
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="text-center">Question</th>
            <th class="text-center">Answers</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var question in Model.Questions)
        {
            <tr>
                <td class="text-center">@question.Text</td>
                <td class="text-center">
                    @Html.DropDownListFor(m => m.Answer, new SelectList(question.Answers, "Id", "Text"), "", new { @class = "form-control" })
                </td>
            </tr>
        }
    </tbody>
</table>
    @Html.HiddenFor(c => c.FormId)
    <button type="submit" class="btn btn-primary">Add</button>
    @Html.ActionLink("Cancel", "Index", "Company", null, new { @class = "btn btn-secondary" })
}